body{
  background-color: #eaf6f6;
  text-align: center;
  margin: 0;
}
.butterfly{
  position: absolute;
  left:1100px;
  top:0;

}
.shop-name{
position: absolute;
left:450px;
top:0;
font-family:'Sacramento',serif;
font-size: 80px;
color: white;
text-shadow: 4px 4px #005555;

}
.top{
  position: relative;
}

.shop{
  width: 100%;
}
hr{
  border: dotted #30e3cb 6px;
  border-bottom: none;
  width:5%;
  margin: 100px auto;
}
.middle{
  position: relative;
  height: 300px;
}
.item-1{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: white;
}
.item-2{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: white;
}
.item-3{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: white;
}
.item-4{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: white;
}
.top-left{
  width: 200px;
  height: 200px;
  background-color: #A0D995;
  position: absolute;
  left:80px;
  top:50px;
}
.bottom-left{
  width: 200px;
  height: 200px;
  background-color: #6CC4A1;
  position: absolute;
  left:400px;
  top:50px;
}
.top-right{
  width: 200px;
  height: 200px;
  background-color: #6CC4A1;
  position: absolute;
  right:400px;
  top:50px;
}
.bottom-right{
  width: 200px;
  height: 200px;
  background-color: #A0D995;
  position: absolute;
  right:80px;
  top:50px;
}
.img-3{
  width: 100%;
}
.img-4{
  width: 100%;
}
.img-5{
  width: 100%;
}
.img-6{
  width: 100%;
}
.bottom{
  height: 150px;
  text-align: center;
  color:#6CC4A1;
}
.btn{
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bolder;
}
.btn:hover{
  background-color: #A0D995;
}
.socail{
  position: relative;
  height:100px;
  background-color: #6CC4A1;
  padding: 10px;
}
.facebook{
position: absolute;
top:10px;
left:550px;
}
.linkdin{
position: absolute;
top:10px;
left:650px;
}
.insta{
position: absolute;
top:10px;
left:750px;
}
.last{
  position: absolute;
  left: 500px;
  bottom:10px;
  color: white;
}
