body{
  background-color: #eaf6f6;
  text-align: center;
  margin: 0;
}

.shop-name{
position: absolute;
left:350px;
top:5px;
font-family:serif;
font-size: 80px;
color: white;
text-shadow: 2px 2px #006E7F;

}
.top{
  position: relative;
}

.shop{
  width: 100%;
}
hr{
  border: dotted #30e3cb 6px;
  border-bottom: none;
  width:5%;
  margin: 100px auto;
}
.middle{
  position: relative;
  height: 300px;
}
.item-1{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: #5FD068;
}
.item-2{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: #5FD068;
}
.item-3{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: #5FD068;
}
.item-4{
  font-family: serif;
  position: absolute;
  left:20px;
  top:150px;
  font-size: 20px;
  color: #5FD068;
}
.top-left{
  width: 200px;
  height: 200px;
  background-color: #A0D995;
  position: absolute;
  left:80px;
  top:50px;
}
.bottom-left{
  width: 200px;
  height: 200px;
  background-color: #6CC4A1;
  position: absolute;
  left:400px;
  top:50px;
}
.top-right{
  width: 200px;
  height: 200px;
  background-color: #6CC4A1;
  position: absolute;
  right:400px;
  top:50px;
}
.bottom-right{
  width: 200px;
  height: 200px;
  background-color: #A0D995;
  position: absolute;
  right:80px;
  top:50px;
}
.img-3{
  width: 100%;
}
.img-4{
  width: 100%;
}
.img-5{
  width: 100%;
}
.img-6{
  width: 100%;
}
